<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Comensal</title>
    <link rel="stylesheet" href="./../css/comensal.css">
    <script src="./../../dynamics/js/comensal.js"></script>
    <script src="./../../dynamics/js/functions.js"></script>
</head>
<body>
    <div align="center"><h1>¡Bienvenido, comensal!</h1></div>
    <div id="menuCont">
        <table class="menu" id="menu">
            <thead>
                <tr>
                    <th>Taco</th>
                    <th>Precio</th>
                    <th>Descripción</th>
                </tr>
            </thead>
        </table>
    </div>
    <div id="options">
        <button id="logOut">Adiós</button>
    </div>
</body>
</html>