<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Taquero</title>
    <link rel="stylesheet" href="./../css/taquero.css">
    <script src="./../../dynamics/js/taquero.js"></script>
    <script src="./../../dynamics/js/functions.js"></script>
</head>
<body>
    <div align="center">
        <h1>¡Bienvenido, taquero!</h1>
        <h4>Agregar nuevo taquito:</h4>
        <label for="nombre">Taco:</label>
        <input type="text" name="nombre" id="nombre">
        <br><br>
        <label for="precio">Precio:</label>
        <input type="number" name="precio" id="precio">
        <br><br>
        <label for="info">Info:</label>
        <input type="text" name="info" id="info">
        <br><br>
        <button id="submit">Ok</button>
    </div>

    <div id="options">
        <button id="logOut">Adiós</button>
    </div>
</body>
</html>